{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}

{{ form_start(formRecherche) }}

{{ form_widget(formRecherche.recherche, {
	attr: {
		placeholder: "Recherchez un article"
	}
}) }}

<button type="submit" class="btn btn-primary mt-2">Rechercher</button>

{{ form_end(formRecherche) }}

	<section class="row articles">
		{% for article in articles %}
			{# article : variable de réception : réceptionne un article par tour #}
			{# articles : tableau array envoyé depuis la méthode index() #}
				<article class="col-md-4 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
                <h2>{{ article.title }}
				</h2>
				{# syntaxe twig : symfony accède à la propriété title de l'objet article via son getter #}<div class="metadata"> Ecrit le
					{{ article.createdAt|date("d/m/Y à H:i:s") }}
					dans la catégorie {{ article.category.title }}</div>
				{# date() est un filtre twig qui permet de formater un objet DateTime en chaine de caractères #}
				<div class="content">
					<img src="{{ asset('images/articles/' ~ article.image) }}" alt="" class="img-fluid">
					{{ article.content| slice(0, 50) | raw }}...
					<br>
                    {# le filtre raw permet d'interpréter les balises html #}
					{# slice permet de découper une chaine de caractères #}
					<a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
					{# path() est une fonction twig permettant de générer un lien en fonction d'une route #}
					{# le premier arg est le nom de la route (name=xxx) #}
                    {# le deuxième arg est un tableau de paramètres #}
				</div>
			</article>
		{% endfor %}
	</section>

{% endblock %}
